@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

$ptSans: 'PT Sans', sans-serif;
$primaryColor: #fff;


$backgroundImg: url("./background.jpg");
$backgroundColor: rgba(9,62,150,0.2);

$btnColor: #ee6383;
$btnStartColor: rgba(52,127,240,0.4);
$btnStopColor: rgba(255,255,255,0.4);

$closeIcon: url("./close.png");

/* Mixins */

@mixin containerBase() {
	position: relative;
	display: block;
	float: left;
}

@mixin wrapper($width){
	position: relative;
	display: block;
	max-width: $width;
}

@mixin setTransform($top, $left){
	transform: translate($top, $left);
}

@mixin setPosXY($x,$y){
	top: $y;
	left: $x;
}